<div class="container-fluid">
  <div class="container padding0">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12    regbox padding0">
      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 loginlogo ">
        <img src="./../../../assets/images/logo.svg" class="img-responsive">
      </div>
      <form #changePwdForm="ngForm">
        <div class="col-lg-8   loginform forgot regis">
          <h2>Change Password</h2>
          <div class="tab-content">
            <div class="tab-pane active" id="1a">
              <div class="row">
                <form>
                  <div class="col-lg-12">
                    <div class="form-group">
                      <label>Old Password*</label>
                      <input type="password" id="oldPassword" class="form-control" name="oldPassword"
                [(ngModel)]="oldPassword" #password="ngModel" placeholder="Old Password*" required>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-group">
                      <label>New Password*</label>
                      <input type="password" id="newPassword" class="form-control" name="newPassword"
                      [(ngModel)]="newPassword" #password="ngModel" placeholder="New Password*" required>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-group">
                      <label>Confirm Password*</label>
                      <input type="password" id="confirmPassword" class="form-control" name="confirmPassword"
                      [(ngModel)]="confirmPassword" #password="ngModel" placeholder="Confirm Password*" required>
                    </div>
                  </div>
                  <div class="col-lg-12">
                      <label [(ngModel)]="errorMessage" >{{errorMessage}}</label>
                    </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  signbtn padding0">
                    <div class="col-lg-4 col-md-5 col-sm-4 col-xs-6">
                      <a href="" class="login_btn" (click)="Cancel()">Cancel </a>
                    </div>
                    <div class="col-lg-4 col-md-5 col-sm-4  col-xs-6">
                      <a href="#" class="login_btn" (click)="changePassword()">Submit

                        <i class="fa fa-paper-plane"></i>
                      </a>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>