<div class="container-fluid">
  <div class="container padding0">
    <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12 col-lg-offset-1 loginbox padding0">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 loginlogo ">
        <img src="./../../../assets/images/logo.svg" class="img-responsive">
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12  loginform">
        <ul class="nav nav-pills">
          <li class="active">
            <a href="#1a" data-toggle="tab">login</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="1a">
            <div class="row">
              <form (ngSubmit)="onSubmit()" [ngFormOptions]="{ updateOn: 'blur' }">
                <div class="col-lg-12">
                  <div class="form-group">
                    <input type="text" class="form-control" name="username" [(ngModel)]="username"
                      placeholder="Username*">
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="form-group">
                    <input type="Password" class="form-control" name="password" [(ngModel)]="password"
                      placeholder="Password*">
                  </div>
                </div>
                <div class="col-lg-12 signbtn">
                  <button type="submit" class="login_btn">Sing in <i class="fa fa-paper-plane"></i></button>
                </div>
                <div class="col-lg-12 forgot">
                  <p>Don’t have an account ?
                    <a routerLink="/register" routerLinkActive="active">Register Now</a>
                  </p>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>